<div class="col-md-3">
	<div id="sidebar">
	<img src="https://app-tianji.msgbyte.com/telemetry/cmek7hnixh3wm116peqn3clsp/cmek7ib2yh48n116pzhh954s4/badge.svg"/>
	<% theme.widgets.forEach(function(widget){ %>
			<%- partial('../_widget/' + widget) %>
		<% }); %>
	</div> <!-- sidebar -->
</div> <!-- col-md-3 -->
