<!-- title -->

<% if (!page.hasOwnProperty('comment')) { page.comment = true; } %>
<% page.title="Championnat du groupe  "+page.group
 
%>
<%- partial('_partial/article2', {item: page, post: true}) %>
<div class="row page">
 

    
  
</div>
<!-- row-fluid -->