<!-- title -->


<div class="row page">
	<% if (theme.widgets.length) { %>
        <div class="col-md-9">
        <% } else { %>
        <div class="col-md-12">
        <% } %>
    
           
            <div id="top_search"></div>
  <div class="title">
    <h1>Stade <%=page.title%>
    </h1>
  </div>


     
    

 
    <%site.data.db.stade.entries.filter((it)=>{return it.stadeName==page.title}).forEach(function(it){%>
      <!-- Fin rubrique -->
       
    <script>
        // Récupérer l'adresse depuis EJS
        var address = '<%= it.address %>';

        // Utiliser un service de géocodage pour obtenir les coordonnées
        fetch(`https://nominatim.openstreetmap.org/search?format=json&q=${encodeURIComponent(address)}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data && data.length > 0) {
                    var lat = parseFloat(data[0].lat);
                    var lon = parseFloat(data[0].lon);

                document.getElementById('map').innerHTML = `
                <iframe
        width="425"
        height="350"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        src="https://www.openstreetmap.org/export/embed.html?bbox=${lon-0.01}%2C${lat-0.01}%2C${lon+0.01}%2C${lat+0.01}&amp;layer=mapnik&amp;marker=${lat}%2C${lon}&amp;center=${lat}%2C${lon}"
    ></iframe>`;
              
                        
                } else {
                    console.error('Adresse non trouvée');
                }
            })
            .catch(error => console.error('Erreur lors de la récupération des coordonnées:', error));
    </script>
<%})%>

      <%- page.content.replace("__map__", "<div id='map'></div>") %>


</div>
<!-- row-fluid -->