<style>th, td {padding: 10px;border: 1px solid black;}</style>
<table>
      <tr>
        <th>Equipe A</td>
        <th>sc</td>
        <th>Equipe B</td>
        <th>sc</td>
        <th>Date</td>
        <th>Lieu</td>
      </tr>
        <tr>
          <td> Affichage de l'equipe A
          </td>
          <td>Score
          </td>
          <td> Affichage de l'equipe A
          </td>
          <td>Score
          </td>
          <td>Date
          </td>
          <td>Lieu de match
          </td>
        </tr>
    </table>